<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <style>
            body{
        font-family: 'Baloo Bhai 2', cursive;
        margin:0px;
        padding:0px;
        
    }
    .left{
         display:inline-block;
         position: absolute;
         left: 34px;
         top: 20px;   
    }
    .mid{
        display: block;
        width:40%;
        margin: 20px auto;
        
    }
    .right{
        position: absolute;
        right: 34px;
        top: 30px;
        display: inline-block;
        
    }
     .right .btn{
        width:150px;
        border: 2px solid rgb(226, 135, 150);
        border-radius: 8px;
        background-color: rgba(211, 131, 231, 0.329);
    }
    .right .btn:hover{
        background-color: rgba(205, 92, 92, 0.651);
    }
        .navbar{
        display: inline-block;
    }
    .left img{
        width:125px;
    }
    .left div{
        color: white;
        text-align: center;
    }
    .btn{
        margin: 0px 9px;
        background-color: rgba(228, 111, 228, 0.637);
        color: white;
        padding: 2px 5px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 16px;
        color: deeppink;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgba(240, 164, 183, 0.589);
    }
    .navbar li{
        display: inline-block;
        font-size: 20px;
    }
    .navbar li a{
        color:black;
         text-decoration:none ;
         padding: 23px 23px;
    }
    .navbar li a:hover{
        text-decoration: underline;
        color: violet;
    }
        .container{
        border:2px solid rgb(247, 90, 155);
        margin: 100px 995px;
        padding: 25px 52px;
        width: 17%;
        display: inline-block;
        border-radius: 18px;
        text-align: center;
        background-color: rgba(247, 245, 245, 0.13);
    }
    .form-group {
        font-family: 'Baloo Bhai 2', cursive;
        width: 200px;
        padding: 1px;
        text-align: center;
        margin: 20px;
        border-radius: 8px;
        font-size: 20px;
        
    }
    .form-group input{
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 15px;
        border: 2px solid rgb(240, 145, 160);
        border-radius: 8px;
        padding: 2px;
        width:200px;
        text-align: center;
        background-color: rgba(240, 236, 226, 0.623);
    }
    .forms input{
         font-family: 'Baloo Bhai 2', cursive;
        font-size: 15px;
        border: 2px solid rgb(31, 39, 88);
        border-radius: 8px;
        padding: 2px;
        width:105px;
    }
    .btn{
        margin: 0px 9px;
        background-color: rgba(210, 163, 240, 0.24);
        color:black;
        padding: 4px 0px;
        border: 2px solid rgba(134, 58, 58, 0.404);
        border-radius: 10px;
        width: 90%;
        font-size: 16px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgb(138, 98, 98);
    }
    .form-group ::placeholder{
        font-family: 'Baloo Bhai 2', cursive;
        border-radius: 3px;
    }
    body{
        font-family: 'Baloo Bhai 2', cursive;
        margin:0px;
        padding:0px;
        background:url('./uploads/bagy.jpg');
    }
    </style>

</head>
<body>
    <header class="header">
        <!-- left box for logo -->
        <div class="left">
           <img src="./uploads/myicon.png" alt=" ">

        </div>
    
        <!-- mid box for navbar -->
        <div class="mid">
          <ul class="navbar">
              <li><a href="/firstpage">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Features </a></li>
              <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <!-- right box for buttons -->
        <div class="right">
           <button class="btn"><a href="/signuppage">Create account</a></button>
           <button class="btn"><a href="/loginpage">Log in</a></button>
        </div>
    </header>
    <form action="/loginpage" method="post">
<div class="container">
    <h1>LOGIN</h1>
    <div class="form-group">
        Email:<input type="email" name="email" placeholder="enter your email">
    </div>
    <div class="form-group">
        Password:<input type="password" name="password" placeholder="enter your password">
    </div>
    <div class="forms">
        
        <input type="submit" class="btnRegister" value="log In" ><a href="/studentpage"></a> 
    </div>
    <h5><a href="/forgotpassword">Forgot password?</a></h5>
    </div>
    </form>

</body>
</html>